<div class="row panel-navigation">
    <div class="col-lg-12 text-center">
        <a href="{{ _back ? _back : '/historial' }}" class="float-left">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>
        <a href="/calcula/{{ _code }}" style="font-weight:600;">
            <i class="fas fa-home-o mt-2" style="font-size:20px;"> Ir a Inicio</i>
        </a>
        <a href="{{ _next ? _next : '/historial' }}" class="float-right">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </a>
    </div>
</div>