<div class="row width-100 p-0 banner-one">
	<div class="col-12">
		<div class="row width-100 justify-content-center p-0 opacity-one">
			<div class="col-8">
				<div class="row m-width ">
					<div class="col-md-7 banner-text-two text-left py-5 mx-auto">
						<h2>RESULTADOS DE COSTO DE CAPITAL</h2>
						<h3>Visualiza los resultados generales del costo de capital. Si deseas puedes registrarte automáticamente y tener acceso al historial de tus consultas.</h3>
						<div class="btn-three px-5 py-2" title="Copiar" style="display: inline; cursor: pointer;" onclick="copiarAlPortapapeles('codigo_valora')"><span>{{ rsp.data.code }}</span></div>
						<input type="text" name="codigo_valora" id="codigo_valora" value="VAL025789" style="opacity: 0">
						<p>Puedes guardar este código para próximas consultas</p>
					</div>
					<div class="col-md-5 text-right py-5 mx-auto">
						<div class="block">
							<p>Solicita aquí una <br> <span>consultoría especializada:</span></p>
							<img src="/assets/image/logo3.png">
							<a class="btn-three px-3 py-1" href="#"><span>Consultar ahora</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
