<div class="page-footer col-md-12 pt-4">
	<div class="row">
		<div class="col-lg-3 col-sm-6 form-group">
			<div class="page-footer-item">
				<img class="logo-footer" src="/assets/image/logo-footer-4.png">
				<img class="logo-footer" src="/assets/image/logo-footer-1.png">
			</div>
		</div>
		<div class="col-lg-3 col-sm-6 form-group">
			<div class="page-footer-item">
				<p><b><i class="fa fa-phone mr-2" aria-hidden="true"></i></b> Contáctanos:<br>{{ contacto.data.telefono }}</p>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6 form-group">
			<div class="page-footer-item">
				<p><b><i class="fa fa-envelope mr-2" aria-hidden="true"></i></b> Correo:<br>{{ contacto.data.correo }}</p>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6 form-group">
			<div class="page-footer-item">
				<span>QUIENES SOMOS:</span>
				{#<ul>
					<li><a href="/equipo">Equipo</a></li>
				</ul>#}
				<br>
				<a href="javascript:;" data-toggle="modal" data-target="#modal_terminos_condiciones1">Terminos y condiciones</a>											
			</div>
		</div>
	</div>
</div>
