<div class="container container-custom">
	<div class="row panel-footer pt-3 pb-3">
		<div class="col-lg-6">
			<p style="font-family: Lato Bold">¡Estamos aquí para ayudarte!</p>
			{# <p>{{ rsp.data.landing.telefono }}</p> #}
			<p>(511) 317-7200 | 44434 - Kapital@fri.com.pe</p>
		</div>
		<div class="col-lg-6">
			{% include "system/elements/social.twig" %}
		</div>
	</div>
</div>