<nav class="navbar navbar-expand-lg navbar-light  mx-auto m-width header-responsive">
  <a class="navbar-brand" href="/"><img src="./assets/image/logo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse header-item" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link mx-2 m-2" href="/costo-capital">¿COSTO DE CAPITAL?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mx-2 m-2" href="#" target="_blank">CONSULTORÍAS ESPECIALIZADAS</a>
      </li>
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item px-2 mx-2 m-2 border-right text-left">
        <a class="nav-link" href="/historial">HISTORIAL</a>
      </li>
      <li class="nav-item px-2 m-2 btn-one-border text-center">
        <a class="nav-link" href="/login">MI PERFIL</a>
      </li>
    </ul>
  </div>
  <a class="navbar-brand" href="/"><img src="./assets/image/logo2.png"></a>
</nav>